*{
    margin: 0;
    padding: 0;
}
canvas{
    background-color: aqua;
    display: block;
    position: absolute;
}
body{
    background-color: slategray;
}
#mute{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    z-index: 1;
    position: relative;
    left:25px;
    top: 450px;
    
}
#newfall{
    z-index: 1;
    position: relative;
    left:400px;
    top: 520px;
    height: 50px;
    
}
